@charset "UTF-8";

/*  공통폰트 */
html {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	color: #343a40;
}

p {
	font-size: 1rem;
	color: #495056;
}

.page-title {
	font-size: 3rem !important;
	margin-top: 20px !important;
	padding-bottom: 17px !important;
}

.btn {
	outline: 0 !important;
}

html, body {
	font-family: YanoljaYacheR;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.glyphicon {
	top: 4.5px;
	margin-right: 1px;
	margin-left: 2px;
}

.wrapper {
	height: auto !important;
	min-height: 100%;
	padding-bottom: 90px;
}

@font-face {
	font-family: 'YanoljaYacheR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 헤더 */
/* background: linear-gradient(137deg, #fff6b7, #f77c99, #6578f2, #c2ffd8); */
/* background-size: 800% 800%; */

/* -webkit-animation: AnimationName 16s ease infinite; */
/* -moz-animation: AnimationName 16s ease infinite; */
/* -o-animation: AnimationName 16s ease infinite; */
/* animation: AnimationName 16s ease infinite; */
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
div#header {
	/* 	color: #fff; */
	/* 	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	background: linear-gradient(-45deg, #ffffff, #effcff, #ffeaff, #cfefff, #eeeeff);
	background-size: 500% 500%;
	animation: AnimationName 8s ease infinite;
	width: 100%;
	/* 	height: 100vh; */
	/* 	display: flex; */
	/* 	flex-direction: column; */
	/*     align-items: center; */
	justify-content: center;
	top: 35%;
	text-align: center;
}

footer .container {
	/* 	color: #fff; */
	background: linear-gradient(-45deg, #ffffff, #effcff, #ffeaff, #cfefff, #eeeeff);
	background-size: 500% 500%;
	animation: AnimationName 8s ease infinite;
	width: 100%;
	/* height: 100vh; */
	/* 	display: flex; */
	/* 	flex-direction: column; */
	/* align-items: center; */
	justify-content: center;
	top: 35%;
	text-align: center;
}

@media ( max-width : 767px) {
	div#header #h_logo img {
		position: absolute;
		margin-top: 25px !important;
		margin-right: auto !important;
		margin-left: auto !important;
		width: 150px !important;
		height: 33px !important;
		left: 51%;
		transform: translate(-50%, -50%);
	}
	div#header #h_logo {
		padding: 0 important!;
	}
	div#header #login_join_box {
		padding-top: 0 !important;
		/* 		padding-top: 20px !important; */
		/* 		padding-bottom: 10px !important; */
		position: relative ! important;
		/* 		display: inline-block; */
		float: right;
	}
	div#header #navbar-toggle {
		position: relative ! important;
	}
	div#header #navbar {
		/* 		position: relative ! important; */
		
	}
	div#header button.btn-link {
		padding-left: 4px !important;
	}
	div#header form.navbar-form {
		margin-bottom: 0 !important;
	}
	div#header #h_logo>a {
		display: block;
	}
	div#header #login_join {
		margin-top: 5px;
	}
	div#header #nav_search {
		padding: 0 22px;
	}
	div#header #accodian #collapseOne>div,
	div#header #accodian #collapseTwo>div,
	div#header #accodian #collapseThree>div
	 {
		padding: 8px 15px !important;
	}
	div#header #accodian #collapseOne>div>a,
	div#header #accodian #collapseTwo>div>a,
	div#header #accodian #collapseThree>div>a
	 {
		text-align: center;
	}
	footer #logo_box {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 0 !important;
	}
	footer #p_box {
		min-height: 150px;
		padding-top: 80px;
	}
}

@media ( min-width :992px) and (max-width:1200px) {
	ul#cbp-tm-menu {
		margin-left: 30px;
	}
}

@media ( min-width :992px) {
	div#header #login_join_box {
		padding-top: 0;
		padding-bottom: 5px;
	}
}

@media ( min-width :767px) {
	div#header #h_logo img {
		margin-left: 25px;
		width: 250px !important;
		height: 53px !important;
	}
	div#header #h_logo {
		float: left;
		padding: 15px 10px;
		padding-left: 0;
		padding-bottom: 0;
	}
	div#header #login_join {
		margin-top: 13px;
	}
	div#header #cbp-tm-menu>li>a {
		padding-bottom: 0 !important;
	}
	footer #logo_box {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 6px !important;
	}
	footer #p_box {
		min-height: 150px;
		padding-top: 90px;
	}
	div#header .container {
		padding: 0 10px !important;
	}
}

#header {
	font-size: 20px;
}

#header li ul li {
	font-size: 14px;
}

.btn-blue {
/* 	background-color: #b7dbf0; */
	background-color: #b7dffc;
}

/* 푸터 */
.footer {
	height: 150px;
	position: relative !important;
	transform: translateY(-100%);
}

#logo_box {
	margin: 13px 0;
	padding: 15px;
}

@media ( max-width :991px) {
	div#p_box address {
		margin: 0 !important;
	}
}

#p_box {
	padding: 15px;
}

/* #p_box address strong { */
/* 	background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple); */
/* 	-webkit-background-clip: text; */
/* 	color: transparent; */
/* } */
.gray_layer {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.6;
	display: none;
	z-index: 1000000;
}

@media ( min-width : 767px) and ( max-width :991px) {
	.account_modal {
		transform: translateX(-50%);
		background-color: #ccc;
	}
	div#header #login_join_box {
		padding-top: 15px;
		padding-bottom: 5px;
	}
}

@media ( max-width :767px) {
	.account_modal {
		left: 50%;
		transform: translateX(-103%);
		background-color: #ccc;
	}
}

@media ( min-width : 992px) and (max-width : 1440px) {
	.account_modal {
		right: -190px;
		transform: translateX(-50%);
	}
}

.account-info {
	padding: 10px 0;
}