@charset "UTF-8";

/*  공통폰트 */
html {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	color: #343a40;
}

p {
	font-size: 1rem;
	color: #495056;
}

.page-title {
	font-size: 3rem !important;
	margin-top: 20px !important;
	padding-bottom: 17px !important;
}

.btn {
	outline: 0 !important;
}

html, body {
	font-family: YanoljaYacheR;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.glyphicon {
	top: 3px;
	margin-right: 2px;
	margin-left: 2px;
}

.wrapper {
	height: auto !important;
	min-height: 100%;
	padding-bottom: 90px;
}

@font-face {
	font-family: 'YanoljaYacheR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 헤더 */
@media ( max-width : 767px) {
	div#header #logo {
		position: absolute;
		margin-top: 20px;
		margin-left: -10px;
	}
	div#header #login_join_box {
		padding-top: 20px !important;
		padding-bottom: 10px !important;
	}
	div#header button.btn-link {
		padding-right: 4px !important;
		padding-left: 4px !important;
	}
	div#header form.navbar-form {
		margin-bottom: 0 !important;
	}
}

@media ( min-width :992px) and (max-width:1200px) {
	ul#cbp-tm-menu {
		margin-left: 30px;
	}
}

#header {
	font-size: 20px;
}

#header li ul li {
	font-size: 14px;
}

.btn-blue {
	background-color: #b7dbf0;
}

/* 푸터 */
.footer {
	height: 132px;
	position: relative !important;
	transform: translateY(-100%);
}

#logo_box {
	margin: 15px 100px;
	padding: 15px;
}

@media ( max-width :991px) {
	div#logo_box {
		margin: 0 !important;
	}
	div#p_box address {
		margin: 0 !important;
	}
}

#p_box {
	padding: 15px;
}

#p_box address strong {
	background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
	-webkit-background-clip: text;
	color: transparent;
}

.gray_layer {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.6;
	display: none;
	z-index: 1000000;
}

@media ( max-width :991px) {
	.account_modal {
		left: 50%;
		transform: translateX(-50%);
		background-color: #ccc;
	}
}

@media ( min-width : 992px) and (max-width : 1440px) {
	.account_modal {
		right: -190px;
	}
}

.account-info {
	padding: 10px 0;
}