<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookMarkMapper">
	<!-- Beans클래스의 객체이름과 클래스이름 명시 -->
	<resultMap type="study.spring.goodspring.model.BookMark"
		id="BookMarkMap">
		<!-- 프로퍼티와 대상테이블의 컬럼을 연결 -->
		<result property="bookmark_no" column="bookmark_no" />
		<result property="category_id" column="category_id" />
		<result property="service_id" column="service_id" />
		<result property="bookmark_create_datetime"
			column="bookmark_create_datetime" />
		<result property="user_info_user_no" column="user_info_user_no" />
	</resultMap>

	<!-- 중복검사를 위한 조회문 -->
	<select id="selectInBookMark"
		parameterType="study.spring.goodspring.model.BookMark"
		resultType="int">
		SELECT count(*) FROM bookmark
		WHERE user_info_user_no =
		#{user_info_user_no}
		AND service_id = #{service_id};
	</select>

	<!-- 다중행 불러오기 위한 조회문 -->
	<select id="selectListBookMark"
		parameterType="study.spring.goodspring.model.BookMark"
		resultMap="BookMarkMap">
		SELECT * FROM bookmark
		WHERE user_info_user_no =
		#{user_info_user_no}
	</select>

	<!-- 데이터 저장기능 -->
	<insert id="insertBookMark"
		parameterType="study.spring.goodspring.model.BookMark"
		useGeneratedKeys="true" keyProperty="bookmark_no">
		INSERT INTO bookmark
		(bookmark_no,
		category_id, service_id,bookmark_create_datetime, user_info_user_no)
		VALUES
		(#{bookmark_no}, #{category_id}, #{service_id},now(),
		#{user_info_user_no});
	</insert>

	<!-- 데이터 삭제기능 -->
	<delete id="deleteBookMark"
		parameterType="study.spring.goodspring.model.BookMark">
		DELETE FROM bookmark
		WHERE service_id =#{service_id}
		AND
		user_info_user_no=#{user_info_user_no};
	</delete>

	<!-- 나의 찜목록을 불러오기 위한 조회문 -->
	<select id="CASListBookMark"
		parameterType="study.spring.goodspring.model.BookMark"
		resultMap="BookMarkMap">
		SELECT * FROM bookmark b
		INNER JOIN cas c ON b.service_id = c.SVCID
		<where>
			user_info_user_no =
			#{user_info_user_no}
			ORDER BY bookmark_no DESC
			<if test="listCount > 0">
				LIMIT #{offset}, #{listCount};
			</if>
		</where>
	</select>

	<!-- 찜목록 데이터 수 조회하기 -->
	<select id="BookMark_selectCountAll"
		parameterType="study.spring.goodspring.model.BookMark"
		resultType="int">
		SELECT COUNT(*)
		FROM bookmark b
		INNER JOIN cas c ON b.service_id = c.SVCID
		<where>
			user_info_user_no =
			#{user_info_user_no}
		</where>
	</select>
</mapper>