<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CasShowExhMapper">
	<insert id="insertItem"
		parameterType="study.spring.goodspring.model.CasAPIList$SJWPerform$row">
		INSERT INTO cas_showexh (
		PERFORM_CODE, TITLE,
		START_DATE, END_DATE, PLACE_NAME, PLAY_TIME, AGE,
		PLAN_COMPANY,
		INQUIRY_PHONE, INQUIRY_EMAIL, TICKET_INFO, DISCOUNT_INFO,
		DISCOUNT_CHARGED, GENRE_NAME, ISOPEN, FILE_URL_MI, FILE_URL_TI, INFO,
		DETAIL, CAST_INFO, service_tag, regDate, editDate
		) VALUES (
		#{PERFORM_CODE}, #{TITLE},
		#{START_DATE}, #{END_DATE}, #{PLACE_NAME},
		#{PLAY_TIME}, #{AGE},
		#{PLAN_COMPANY},
		#{INQUIRY_PHONE},
		#{INQUIRY_EMAIL}, #{TICKET_INFO}, #{DISCOUNT_INFO},
		#{DISCOUNT_CHARGED}, #{GENRE_NAME}, #{ISOPEN}, #{FILE_URL_MI},
		#{FILE_URL_TI}, #{INFO},
		#{DETAIL}, #{CAST_INFO}, showExh, now(), now()
		);
	</insert>
</mapper>