<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CrewPostLikeMapper">
	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다 -->
	<resultMap type="study.spring.goodspring.model.CrewPostLike"
		id="CrewPostLikeMap">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼을 연결한다. -->
		<result property="like_no" column="like_no" />
		<result property="post_no" column="post_no" />
		<result property="user_no" column="user_no" />
		<result property="like_create_datetime" column="like_create_datetime" />
	</resultMap>
	
	<!-- 좋아요 추가 -->
	<insert id="addLike" parameterType="study.spring.goodspring.model.CrewPostLike"
		useGeneratedKeys="true" keyProperty="like_no">
	INSERT INTO crew_post_like 
	(post_no, user_no, like_create_datetime) 
	VALUES (#{post_no}, #{user_no}, now())
	</insert>
	
	<!-- 좋아요 취소 -->
	<delete id="deleteLike" parameterType="study.spring.goodspring.model.CrewPostLike">
	DELETE FROM crew_post_like 
	WHERE post_no=#{post_no}
		AND user_no=#{user_no}
	</delete>
	
	<!-- 중복검사를 위한 조회문 -->
	<select id="selectLikeCount"
		parameterType="study.spring.goodspring.model.CrewPostLike"
		resultType="int">
		SELECT count(*) FROM crew_post_like
		WHERE user_no = #{user_no}
		AND post_no = #{post_no}
	</select>
</mapper>