<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="CrewMemberMapper">
<resultMap type="study.spring.goodspring.model.CrewMember"
		id="crewMemberMap">
		<result property="member_no" column="member_no"/>
		<result property="member_create_datetime" column="member_create_datetime"/>
		<result property="member_visit_datetime" column="member_visit_datetime"/>
		<result property="user_info_user_no" column="user_info_user_no"/>
		<result property="crew_crew_no" column="crew_crew_no"/>
		
		</resultMap>


<!-- 크루멤버 등록 기능 -->
<insert id="insertCrewMember" parameterType="study.spring.goodspring.model.CrewMember"
useGeneratedKeys="true" keyProperty="member_no">
INSERT INTO crew_member 
(member_create_datetime, member_visit_datetime, user_info_user_no,crew_crew_no)
VALUES (now(), now(), #{user_info_user_no}, #{crew_crew_no} )
</insert>

<!-- Crew 와 CrewMember Join -->
	<select id="selectCrewCrewMemberList"
		parameterType="study.spring.goodspring.model.CrewMember" resultMap="crewMemberMap">
		SELECT member_no, member_create_datetime, member_visit_datetime, cm.user_info_user_no, crew_crew_no, user_id , user_nick
		FROM crew_member cm
		INNER JOIN crew c
		ON c.crew_no = #{crew_crew_no}
		INNER JOIN user_info ui
		On ui.user_no = cm.user_info_user_no 
		<where>
			<if test="member_no != null and member_no != '' ">
				member_no = #{member_no}
			</if>

			<if test="user_info_user_no != null and user_info_user_no != '' ">
				OR user_info_user_no = #{user_info_user_no}
			</if>

			<if test="crew_crew_no != null and crew_crew_no != '' ">
				OR crew_crew_no = #{crew_crew_no}
			</if>

		</where>

		<if test="order == 1 ">
			ORDER BY crew_no DESC
		</if>
		<if test="order == 2 ">
			ORDER BY crew_no ASC
		</if>


		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>

	</select>
	
	<!-- 데이터 수 조회를 위한 기능 정의 -->

	<select id="selectCountAll"
		parameterType="study.spring.goodspring.model.CrewMember" resultType="int">
		SELECT COUNT(*) FROM crew_member cm
		INNER JOIN crew c
		ON cm.crew_crew_no =  #{crew_crew_no}	
		<where>
			<if test="member_no != null and member_no != '' ">
				member_no = #{member_no}
			</if>

			<if test="user_info_user_no != null and user_info_user_no != '' ">
				OR user_info_user_no = #{user_info_user_no}
			</if>

			<if test="crew_crew_no != null and crew_crew_no != '' ">
				OR crew_crew_no = #{crew_crew_no}
			</if>
		</where>
	</select>


</mapper>