<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="CrewMemberMapper">
	<resultMap type="study.spring.goodspring.model.CrewMember"
		id="crewMemberMap">
		<result property="member_no" column="member_no" />
		<result property="member_create_datetime"
			column="member_create_datetime" />
		<result property="member_visit_datetime"
			column="member_visit_datetime" />
		<result property="user_info_user_no" column="user_info_user_no" />
		<result property="crew_crew_no" column="crew_crew_no" />
		<result property="crew_out" column="crew_out" />

	</resultMap>


	<!-- 크루멤버 등록 기능 -->
	<insert id="insertCrewMember"
		parameterType="study.spring.goodspring.model.CrewMember"
		useGeneratedKeys="true" keyProperty="member_no">
		INSERT INTO crew_member
		(member_create_datetime, member_visit_datetime, user_info_user_no,crew_crew_no, crew_out)
		VALUES (now(), now(), #{user_info_user_no}, #{crew_crew_no}, "N" )
	</insert>

	<!-- Crew 와 CrewMember Join -->
	<select id="selectCrewCrewMemberList"
		parameterType="study.spring.goodspring.model.CrewMember"
		resultMap="crewMemberMap">
		SELECT member_no, member_create_datetime, member_visit_datetime,
		cm.user_info_user_no, crew_crew_no,crew_out, user_id , user_nick
		FROM
		crew_member cm
		INNER JOIN crew c
		ON c.crew_no = #{crew_crew_no}
		INNER
		JOIN user_info ui
		ON ui.user_no = cm.user_info_user_no
		<where>
			<if test="member_no != null and member_no != '' ">
				member_no = #{member_no}
			</if>

			<if test="user_info_user_no != null and user_info_user_no != '' ">
				OR user_info_user_no = #{user_info_user_no}
			</if>

			<if test="crew_crew_no != null and crew_crew_no != '' ">
				OR crew_crew_no = #{crew_crew_no}
			</if>

		</where>

		<if test="order == 1 ">
			ORDER BY crew_no DESC
		</if>
		<if test="order == 2 ">
			ORDER BY crew_no ASC
		</if>


		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>

	</select>

	<!-- 데이터 수 조회를 위한 기능 정의 -->

	<select id="selectCountAll"
		parameterType="study.spring.goodspring.model.CrewMember"
		resultType="int">
		SELECT COUNT(*) FROM crew_member cm
		INNER JOIN crew c
		ON cm.crew_crew_no
		= #{crew_crew_no}
		<where>
			<if test="member_no != null and member_no != '' ">
				member_no = #{member_no}
			</if>

			<if test="user_info_user_no != null and user_info_user_no != '' ">
				OR user_info_user_no = #{user_info_user_no}
			</if>

			<if test="crew_crew_no != null and crew_crew_no != '' ">
				OR crew_crew_no = #{crew_crew_no}
			</if>
		</where>		
	</select>
	
	<!-- 크루 가입된 회원수 조회 -->
	<select id="selectMemberCount"
		parameterType="study.spring.goodspring.model.CrewMember"
		resultType="int">
		SELECT COUNT(*) FROM crew_member 
		WHERE crew_crew_no = #{crew_crew_no} AND crew_out = "N";
	</select>
	

	<!-- 크루멤버 추방을 위한 기능 정의 -->
	<delete id="deleteCrewCrewMember"
		parameterType="study.spring.goodspring.model.CrewMember">
		DELETE FROM crew_member WHERE crew_crew_no =
		#{crew_crew_no} AND member_no = #{member_no}
	</delete>

	<!-- 크루멤버에 대한 user_info_user_no 조회 -->
	<select id="selectCrew"
		parameterType="study.spring.goodspring.model.CrewMember"
		resultMap="crewMemberMap">
		SELECT user_info_user_no
		FROM crew_member
		WHERE member_no =
		#{member_no}
	</select>

	<!-- 마이크루 탈퇴 기능 -->
	<delete id="deleteMyCrew"
		parameterType="study.spring.goodspring.model.CrewMember">
		DELETE FROM crew_member WHERE crew_crew_no =
		#{crew_crew_no} AND user_info_user_no = #{user_info_user_no};
	</delete>

	<select id="selectCrewno"
		parameterType="study.spring.goodspring.model.CrewMember"
		resultMap="crewMemberMap">
		SELECT cm.user_info_user_no FROM crew_member cm INNER
		JOIN crew c ON cm.crew_crew_no = c.crew_no
		WHERE cm.user_info_user_no = #{user_info_user_no}
		LIMIT 1;
	</select>
	
	<!-- 크루 해체 -->
	<delete id="deleteCrew"
		parameterType="study.spring.goodspring.model.CrewMember">
		DELETE FROM crew_member WHERE crew_crew_no = #{crew_crew_no};
	</delete>
	
	<!-- 크루 중복가입 방지 -->
	<select id="regexCrew" parameterType="study.spring.goodspring.model.CrewMember" resultMap="crewMemberMap">
		SELECT user_info_user_no FROM crew_member
        WHERE crew_crew_no = #{crew_crew_no} AND user_info_user_no = #{user_info_user_no}
        LIMIT 1;
	</select>
	
	<!-- 참조해제 -->
	<update id="unsetcrewmemberuserno" parameterType="study.spring.goodspring.model.CrewMember">
	UPDATE crew_member SET user_info_user_no=null WHERE user_info_user_no=#{user_info_user_no};
	</update>
	
	<!-- 크루회원 추방 탈퇴 여부 확인 -->
	<update id="crewOut"
		parameterType="study.spring.goodspring.model.CrewMember">
		UPDATE crew_member  SET crew_out = 'Y'
		WHERE user_info_user_no = #{user_no};
	</update>
</mapper>