<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyCourseMapper">

	<!-- Beans 클래스의 객체이름과 클래스이름 명시 -->
	<resultMap type="study.spring.goodspring.model.MyCourses"
		id="MyCourseMap">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컴럼을 연결 -->
		<result property="mycourse_no" column="mycourse_no" />
		<result property="like" column="like" />
		<result property="mycourse_name" column="mycourse_name" />
		<result property="mycourse_area" column="mycourse_area" />
		<result property="mycourse_content" column="mycourse_content" />
		<result property="mycourse_mapdata" column="mycourse_mapdata" />
		<result property="mycourse_createdate" column="mycourse_createdate" />
		<result property="mycourse_editdate" column="mycourse_editdate" />
		<result property="mycourse_hits" column="mycourse_hits" />
		<result property="user_info_user_no" column="user_info_user_no" />
	</resultMap>

	<!-- 단일행 조회 -->
	<select id="selectMyCourseItem" resultMap="MyCourseMap"
		parameterType="study.spring.goodspring.model.MyCourses">
		SELECT mycourse_no, `like`, mycourse_name, mycourse_area, mycourse_content,
		mycourse_mapdata, mycourse_createdate, mycourse_editdate, mycourse_hits,
		user_info_user_no 
		FROM mycoures_post 
		WHERE mycourses_no=#{mycourse_no}
		ORDER BY mycourse_no DESC
	</select>


	<!--다중행 조회 -->
	<select id="selectMyCourseList"
		parameterType="study.spring.goodspring.model.MyCourses" resultMap="MyCourseMap">
		SELECT mycourse_no, `like`, mycourse_name, mycourse_area, mycourse_content,
		mycourse_mapdata, mycourse_createdate, mycourse_editdate, mycourse_hits,
		user_info_user_no
		
		FROM mycoures_post
		<where>
			<if test="mycourse_name != null and mycourse_name != '' ">
				mycourse_name LIKE CONCAT('%', #{mycourse_name}, '%')
			</if>

			<if test="mycourse_area != null and mycourse_area != '' ">
				OR mycourse_area LIKE CONCAT('%', #{mycourse_area}, '%')
			</if>

			<if test="mycourse_content != null and mycourse_content != '' ">
				OR mycourse_content LIKE CONCAT('%', #{mycourse_content}, '%')
			</if>
		</where>

		ORDER BY mycourse_no DESC

		<if test="listCount > 0">
		LIMIT #{offset}, #{listCount}
		</if>

	</select>

	<!-- 데이터 저장 기능 -->

	<insert id="insertMyCourse"
		parameterType="study.spring.goodspring.model.MyCourses"
		useGeneratedKeys="true" keyProperty="mycourse_no">
		INSERT INTO mycoures_post (mycourse_name, mycourse_area, mycourse_content,
		mycourse_mapdata,
		mycourse_createdate, mycourse_editdate, mycourse_hits,
		user_info_user_no)
		VALUES (#{mycourse_name}, #{mycourse_area}, #{mycourse_content},
		#{mycourse_mapdata},
		now(), now(), 0,
		#{user_info_user_no});
	</insert>

	<!-- 데이터 삭제 기능 -->
	<delete id="deleteMyCourse"
		parameterType="study.spring.goodspring.model.MyCourses">
		DELETE FROM mycoures_post WHERE mycourse_no = #{mycourse_no};
	</delete>


	<!-- 데이터 수정 기능 -->
	<update id="updateMyCourse"
		parameterType="study.spring.goodspring.model.MyCourses">
		UPDATE mycoures_post SET mycourse_name=#{mycourse_name},mycourse_area=#{mycourse_area},
		mycourse_content=#{mycourse_content}, mycourse_mapdata=#{mycourse_mapdata}, mycourse_editdate=now()
		WHERE mycourse_no = #{mycourse_no};
	</update>

	<!-- 데이터 수 조회를 위한 기능 정의 -->

	<select id="selectCountAll"
		parameterType="study.spring.goodspring.model.MyCourses" resultType="int">
		SELECT COUNT(*) FROM mycoures_post
		
		<where>
			<if test="mycourse_name != null and mycourse_name != '' ">
				mycourse_name LIKE CONCAT('%', #{mycourse_name}, '%')
			</if>

			<if test="mycourse_area != null and mycourse_area != '' ">
				OR mycourse_area LIKE CONCAT('%', #{mycourse_area}, '%')
			</if>

			<if test="mycourse_content != null and mycourse_content != '' ">
				OR mycourse_content LIKE CONCAT('%', #{mycourse_content}, '%')
			</if>

		</where>
					
	</select>




</mapper>