<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WalkCourseMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시 -->
	<resultMap id="WalkCourseMap"
		type="study.spring.goodspring.model.WalkCourse">
		<result property="COURSE_CATEGORY" column="COURSE_CATEGORY" />
		<result property="COURSE_CATEGORY_NM"
			column="COURSE_CATEGORY_NM" />
		<result property="SOUTH_NORTH_DIV" column="SOUTH_NORTH_DIV" />
		<result property="SOUTH_NORTH_DIV_NM"
			column="SOUTH_NORTH_DIV_NM" />
		<result property="AREA_GU" column="AREA_GU" />

		<result property="DISTANCE" column="DISTANCE" />
		<result property="LEAD_TIME" column="LEAD_TIME" />
		<result property="COURSE_LEVEL" column="COURSE_LEVEL" />
		<result property="VOTE_CNT" column="VOTE_CNT" />
		<result property="RELATE_SUBWAY" column="RELATE_SUBWAY" />

		<result property="TRAFFIC_INFO" column="TRAFFIC_INFO" />
		<result property="CONTENT" column="CONTENT" />
		<result property="PDF_FILE_PATH" column="PDF_FILE_PATH" />
		<result property="COURSE_NAME" column="COURSE_NAME" />
		<result property="REG_DATE" column="REG_DATE" />

		<result property="DETAIL_COURSE" column="DETAIL_COURSE" />
		<result property="CPI_IDX" column="CPI_IDX" />
		<result property="CPI_NAME" column="CPI_NAME" />
		<result property="X" column="X" />
		<result property="Y" column="Y" />

		<result property="CPI_CONTENT" column="CPI_CONTENT" />
	</resultMap>


	<!-- 다중행 조회를 위한 기능 정의 -->
	<select id="selectList"
		parameterType="study.spring.goodspring.model.WalkCourse"
		resultMap="WalkCourseMap">
		SELECT COURSE_CATEGORY_NM,
		SOUTH_NORTH_DIV_NM,
		AREA_GU,
		DISTANCE,
		LEAD_TIME,
		COURSE_LEVEL,
		VOTE_CNT,
		RELATE_SUBWAY,
		TRAFFIC_INFO,
		COURSE_NAME,
		CPI_NAME
		FROM seoulgil_walk_course

		<where>
			<choose>
				<!-- 카테고리 있을 경우, 검색어, 지역구 다 있을 경우 -->
				<when
					test="COURSE_CATEGORY_NM != null and COURSE_CATEGORY_NM != ''">
					COURSE_CATEGORY_NM LIKE concat('%', #{COURSE_CATEGORY_NM}, '%')
					<if
						test="SOUTH_NORTH_DIV_NM != null and SOUTH_NORTH_DIV_NM != ''">
						AND ( SOUTH_NORTH_DIV_NM LIKE concat('%', #{SOUTH_NORTH_DIV_NM},'%')
					</if>
					<if test="LEAD_TIME != null and LEAD_TIME != ''">
						OR LEAD_TIME LIKE concat(#{LEAD_TIME}, '%')
					</if>
					<if test="COURSE_LEVEL != null and COURSE_LEVEL != ''">
						OR COURSE_LEVEL LIKE concat('%', #{COURSE_LEVEL}, '%')
					</if>
					<if test="RELATE_SUBWAY != null and RELATE_SUBWAY != ''">
						OR RELATE_SUBWAY LIKE concat('%', #{RELATE_SUBWAY},
						'%')
					</if>
					<if test="COURSE_NAME != null and COURSE_NAME != ''">
						OR COURSE_NAME LIKE concat('%', #{COURSE_NAME}, '%')
					</if>
					<if test="CPI_NAME != null and CPI_NAME != ''">
						OR CPI_NAME LIKE concat('%', #{CPI_NAME}, '%'))
					</if>
					<if test="AREA_GU != null and AREA_GU != ''">
						AND (AREA_GU LIKE concat('%', #{AREA_GU}, '%'))
					</if>
				</when>
				<!-- 카테고리 없고, 검색어있고, 지역구 있을 경우 -->
				<when test="AREA_GU != null and AREA_GU != ''">
					AREA_GU LIKE concat('%', #{AREA_GU}, '%')

					<if
						test="SOUTH_NORTH_DIV_NM != null and SOUTH_NORTH_DIV_NM != ''">
						AND (SOUTH_NORTH_DIV_NM LIKE concat('%', #{SOUTH_NORTH_DIV_NM}, '%')
					</if>
					<if test="LEAD_TIME != null and LEAD_TIME != ''">
						OR LEAD_TIME LIKE concat(#{LEAD_TIME}, '%')
					</if>
					<if test="COURSE_LEVEL != null and COURSE_LEVEL != ''">
						OR COURSE_LEVEL LIKE concat('%', #{COURSE_LEVEL}, '%')
					</if>
					<if test="RELATE_SUBWAY != null and RELATE_SUBWAY != ''">
						OR RELATE_SUBWAY LIKE concat('%', #{RELATE_SUBWAY}, '%')
					</if>
					<if test="COURSE_NAME != null and COURSE_NAME != ''">
						OR COURSE_NAME LIKE concat('%', #{COURSE_NAME}, '%')
					</if>
					<if test="CPI_NAME != null and CPI_NAME != ''">
						OR CPI_NAME LIKE concat('%', #{CPI_NAME}, '%'))
					</if>
				</when>
				<!-- 카테고리 없고, 지역구 없고, 검색어 있음 -->
				<otherwise>
					<if
						test="SOUTH_NORTH_DIV_NM != null and SOUTH_NORTH_DIV_NM != ''">
						SOUTH_NORTH_DIV_NM LIKE concat('%', #{SOUTH_NORTH_DIV_NM}, '%')
					</if>
					<if test="LEAD_TIME != null and LEAD_TIME != ''">
						OR LEAD_TIME LIKE concat(#{LEAD_TIME}, '%')
					</if>
					<if test="COURSE_LEVEL != null and COURSE_LEVEL != ''">
						OR COURSE_LEVEL LIKE concat('%', #{COURSE_LEVEL}, '%')
					</if>
					<if test="RELATE_SUBWAY != null and RELATE_SUBWAY != ''">
						OR RELATE_SUBWAY LIKE concat('%', #{RELATE_SUBWAY}, '%')
					</if>
					<if test="COURSE_NAME != null and COURSE_NAME != ''">
						OR COURSE_NAME LIKE concat('%', #{COURSE_NAME}, '%')
					</if>
					<if test="CPI_NAME != null and CPI_NAME != ''">
						OR CPI_NAME LIKE concat('%', #{CPI_NAME}, '%')
					</if>
				</otherwise>
			</choose>
		</where>
		ORDER BY REG_DATE DESC

		<!-- 페이지네이션에 필요 -->
		<if test="listCount > 0">
			LIMIT #{offset}, #{listCount};
		</if>
	</select>

	<!-- 페이지네이션에 필요한 데이터 수 조회 기능 정의 -->
	<select id="selectCountAll"
		parameterType="study.spring.goodspring.model.WalkCourse"
		resultType="int">
		SELECT COUNT(*) FROM seoulgil_walk_course
<!-- 		<where> -->
<!-- 			<if test="COURSE_CATEGORY_NM != null and COURSE_CATEGORY_NM != ''"> -->
<!-- 				COURSE_CATEGORY_NM LIKE concat('%', -->
<!-- 				#{COURSE_CATEGORY_NM}, '%') -->
<!-- 			</if> -->
<!-- 			<if test="SOUTH_NORTH_DIV_NM != null and SOUTH_NORTH_DIV_NM != ''"> -->
<!-- 				OR SOUTH_NORTH_DIV_NM LIKE concat('%', -->
<!-- 				#{SOUTH_NORTH_DIV_NM}, '%') -->
<!-- 			</if> -->
<!-- 			<if test="AREA_GU != null and AREA_GU != ''"> -->
<!-- 				OR AREA_GU LIKE concat('%', #{AREA_GU}, '%') -->
<!-- 			</if> -->
<!-- 			<if test="DISTANCE != null and DISTANCE != ''"> -->
<!-- 				OR DISTANCE LIKE concat('%', #{DISTANCE}, '%') -->
<!-- 			</if> -->
<!-- 			<if test="LEAD_TIME != null and LEAD_TIME != ''"> -->
<!-- 				OR LEAD_TIME LIKE concat('%', #{LEAD_TIME}, '%') -->
<!-- 			</if> -->
<!-- 			<if test="COURSE_LEVEL != null and COURSE_LEVEL != ''"> -->
<!-- 				OR COURSE_LEVEL LIKE concat('%', #{COURSE_LEVEL}, '%') -->
<!-- 			</if> -->
<!-- 			<if test="RELATE_SUBWAY != null and RELATE_SUBWAY != ''"> -->
<!-- 				OR RELATE_SUBWAY LIKE concat('%', #{RELATE_SUBWAY}, '%') -->
<!-- 			</if> -->
<!-- 			<if test="TRAFFIC_INFO != null and TRAFFIC_INFO != ''"> -->
<!-- 				OR TRAFFIC_INFO LIKE concat('%', #{TRAFFIC_INFO}, '%') -->
<!-- 			</if> -->
<!-- 			<if test="COURSE_NAME != null and COURSE_NAME != ''"> -->
<!-- 				OR COURSE_NAME LIKE concat('%', #{COURSE_NAME}, '%') -->
<!-- 			</if> -->
<!-- 			<if test="CPI_NAME != null and CPI_NAME != ''"> -->
<!-- 				OR CPI_NAME LIKE concat('%', #{CPI_NAME}, '%') -->
<!-- 			</if> -->
<!-- 		</where> -->
<where>
			<choose>
				<!-- 카테고리 있을 경우, 검색어, 지역구 다 있을 경우 -->
				<when
					test="COURSE_CATEGORY_NM != null and COURSE_CATEGORY_NM != ''">
					COURSE_CATEGORY_NM LIKE concat('%', #{COURSE_CATEGORY_NM}, '%')
					<if
						test="SOUTH_NORTH_DIV_NM != null and SOUTH_NORTH_DIV_NM != ''">
						AND ( SOUTH_NORTH_DIV_NM LIKE concat('%', #{SOUTH_NORTH_DIV_NM},'%')
					</if>
					<if test="LEAD_TIME != null and LEAD_TIME != ''">
						OR LEAD_TIME LIKE concat(#{LEAD_TIME}, '%')
					</if>
					<if test="COURSE_LEVEL != null and COURSE_LEVEL != ''">
						OR COURSE_LEVEL LIKE concat('%', #{COURSE_LEVEL}, '%')
					</if>
					<if test="RELATE_SUBWAY != null and RELATE_SUBWAY != ''">
						OR RELATE_SUBWAY LIKE concat('%', #{RELATE_SUBWAY},
						'%')
					</if>
					<if test="COURSE_NAME != null and COURSE_NAME != ''">
						OR COURSE_NAME LIKE concat('%', #{COURSE_NAME}, '%')
					</if>
					<if test="CPI_NAME != null and CPI_NAME != ''">
						OR CPI_NAME LIKE concat('%', #{CPI_NAME}, '%'))
					</if>
					<if test="AREA_GU != null and AREA_GU != ''">
						AND (AREA_GU LIKE concat('%', #{AREA_GU}, '%'))
					</if>
				</when>
				<!-- 카테고리 없고, 검색어있고, 지역구 있을 경우 -->
				<when test="AREA_GU != null and AREA_GU != ''">
					AREA_GU LIKE concat('%', #{AREA_GU}, '%')

					<if
						test="SOUTH_NORTH_DIV_NM != null and SOUTH_NORTH_DIV_NM != ''">
						AND (SOUTH_NORTH_DIV_NM LIKE concat('%', #{SOUTH_NORTH_DIV_NM}, '%')
					</if>
					<if test="LEAD_TIME != null and LEAD_TIME != ''">
						OR LEAD_TIME LIKE concat(#{LEAD_TIME}, '%')
					</if>
					<if test="COURSE_LEVEL != null and COURSE_LEVEL != ''">
						OR COURSE_LEVEL LIKE concat('%', #{COURSE_LEVEL}, '%')
					</if>
					<if test="RELATE_SUBWAY != null and RELATE_SUBWAY != ''">
						OR RELATE_SUBWAY LIKE concat('%', #{RELATE_SUBWAY}, '%')
					</if>
					<if test="COURSE_NAME != null and COURSE_NAME != ''">
						OR COURSE_NAME LIKE concat('%', #{COURSE_NAME}, '%')
					</if>
					<if test="CPI_NAME != null and CPI_NAME != ''">
						OR CPI_NAME LIKE concat('%', #{CPI_NAME}, '%'))
					</if>
				</when>
				<!-- 카테고리 없고, 지역구 없고, 검색어 있음 -->
				<otherwise>
					<if
						test="SOUTH_NORTH_DIV_NM != null and SOUTH_NORTH_DIV_NM != ''">
						SOUTH_NORTH_DIV_NM LIKE concat('%', #{SOUTH_NORTH_DIV_NM}, '%')
					</if>
					<if test="LEAD_TIME != null and LEAD_TIME != ''">
						OR LEAD_TIME LIKE concat(#{LEAD_TIME}, '%')
					</if>
					<if test="COURSE_LEVEL != null and COURSE_LEVEL != ''">
						OR COURSE_LEVEL LIKE concat('%', #{COURSE_LEVEL}, '%')
					</if>
					<if test="RELATE_SUBWAY != null and RELATE_SUBWAY != ''">
						OR RELATE_SUBWAY LIKE concat('%', #{RELATE_SUBWAY}, '%')
					</if>
					<if test="COURSE_NAME != null and COURSE_NAME != ''">
						OR COURSE_NAME LIKE concat('%', #{COURSE_NAME}, '%')
					</if>
					<if test="CPI_NAME != null and CPI_NAME != ''">
						OR CPI_NAME LIKE concat('%', #{CPI_NAME}, '%')
					</if>
				</otherwise>
			</choose>
		</where>
	</select>
</mapper>