<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WalkCourseMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시 -->
	<resultMap id="WalkCourseMap" type="study.spring.goodspring.model.WalkCourse">
		<result property="course_pk" column="course_pk" />
		<result property="crs_name" column="crs_name" />
		<result property="area" column="area" />
		<result property="type" column="type" />
		<result property="distance" column="distance" />
		<result property="time" column="time" />
		<result property="level" column="level" />
	</resultMap>

	<!-- 다중행 조회를 위한 기능 정의 -->
	<select id="selectList" parameterType="study.spring.goodspring.model.WalkCourse" resultMap="WalkCourseMap">
		SELECT course_pk, crs_name, area, type, distance, time, level FROM walkcourse
		<where>
			<if test="crs_name != null and crs_name != ''">
	crs_name LIKE concat('%', #{crs_name}, '%')
	</if>
			<if test="area != null and area != ''">
	OR area LIKE concat('%', #{area}, '%')
	</if>
			<if test="type != null and type != ''">
	OR type LIKE concat('%', #{type}, '%')
	</if>
			<if test="distance != null and distance != ''">
	OR distance LIKE concat('%', #{distance}, '%')
	</if>
			<if test="time != null and time != ''">
	OR time LIKE concat('%', #{time}, '%')
	</if>
			<if test="level != null and level != ''">
	OR level LIKE concat('%', #{level}, '%')
	</if>
		</where>
		ORDER BY course_pk DESC
		
		<!-- 페이지네이션에 필요 -->
		<if test="listCount > 0">
		LIMIT #{offset}, #{listCount};
		</if>
	</select>

	<!-- 페이지네이션에 필요한 데이터 수 조회 기능 정의 -->
	<select id="selectCountAll" parameterType="study.spring.goodspring.model.WalkCourse" resultType="int">
		SELECT COUNT(*) FROM walkcourse
		<where>
			<if test="crs_name != null and crs_name != ''">
	crs_name LIKE concat('%', #{crs_name}, '%')
	</if>
			<if test="area != null and area != ''">
	OR area LIKE concat('%', #{area}, '%')
	</if>
			<if test="type != null and type != ''">
	OR type LIKE concat('%', #{type}, '%')
	</if>
			<if test="distance != null and distance != ''">
	OR distance LIKE concat('%', #{distance}, '%')
	</if>
			<if test="time != null and time != ''">
	OR time LIKE concat('%', #{time}, '%')
	</if>
			<if test="level != null and level != ''">
	OR level LIKE concat('%', #{level}, '%')
	</if>
		</where>
	</select>
</mapper>